body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #005f6b;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.description {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 30px;
}

.team {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.team-member {
    width: 23%;
    height: 250px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}

.team-member img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-member h3 {
    background-color: #005f6b;
    color: white;
    padding: 10px;
    margin: 0;
}

.carousel {
    position: relative;
    max-width: 100%;
    margin: 20px auto 40px auto;
    text-align: center;
}

.carousel-images {
    display: flex;
    overflow: hidden;
    width: 100%;
    border-radius: 8px;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.carousel-item-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 8px;
    width: 80%;
}

.carousel-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #005f6b;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 5px;
    width: 200px;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 2em;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.github-section {
    text-align: center;
    margin-top: 40px;
}

.github-title {
    font-size: 1.8em;
    font-weight: bold;
    color: #005f6b;
    margin-bottom: 10px;
}

.github-description {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 20px;
}

.github-video iframe {
    width: 560px;
    height: 315px;
    border-radius: 12px;
}

footer {
    background-color: #005f6b;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}